[Unit]
Description=Floppyfy Local Music Server
After=network.target

[Service]
Type=simple
User=raspberry
ExecStart=/home/raspberry/floppyfy/venv/bin/python3 src/music_server.py
Restart=always
RestartSec=5
WorkingDirectory=/home/raspberry/floppyfy

[Install]
WantedBy=multi-user.target
