[Unit]
Description=Floppyfy Web Interface
After=network.target

[Service]
Type=simple
User=raspberry
WorkingDirectory=/home/raspberry/floppyfy
ExecStart=/home/raspberry/floppyfy/venv/bin/python3 src/web_ui.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
